# DAT210x - Programming with Python for DS

## Module6- Lab6

In [50]:
import pandas as pd
import time

### How to Get The Dataset

Grab the DLA HAR dataset from:

- http://groupware.les.inf.puc-rio.br/har
- http://groupware.les.inf.puc-rio.br/static/har/dataset-har-PUC-Rio-ugulino.zip
- A cached copy of the dataset is included in the course repository.

After extracting it out, load up the dataset into dataframe named `X` and do your regular dataframe examination:

In [114]:
# .. your code here ..
X=pd.read_csv('Datasets/PUC',delimiter=';')
X[pd.isnull(X).any(axis=1)]
#X.shape
#X.head()

Empty DataFrame
Columns: [user, gender, age, how_tall_in_meters, weight, body_mass_index, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4, class]
Index: []

Encode the gender column such that: `0` is male, and `1` as female:

In [115]:
# .. your code here ..
X['gender']=X['gender'].map({'Male':0,'Woman':1})

X.head()

X.dropna(axis=0,inplace=True)
X[pd.isnull(X).any(axis=1)]

Empty DataFrame
Columns: [user, gender, age, how_tall_in_meters, weight, body_mass_index, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4, class]
Index: []

Clean up any columns with commas in them so that they're properly represented as decimals:

In [117]:
# .. your code here ..
X['how_tall_in_meters']=X['how_tall_in_meters'].str.replace(',','.')
X['body_mass_index']=X['body_mass_index'].str.replace(',','.')
X.head()
X[pd.isnull(X).any(axis=1)]

Empty DataFrame
Columns: [user, gender, age, how_tall_in_meters, weight, body_mass_index, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4, class]
Index: []

Let's take a peek at your data types:

In [118]:
X.dtypes

user                   object
gender                float64
age                     int64
how_tall_in_meters     object
weight                  int64
body_mass_index        object
x1                      int64
y1                      int64
z1                      int64
x2                      int64
y2                      int64
z2                      int64
x3                      int64
y3                      int64
z3                      int64
x4                      int64
y4                      int64
z4                      int64
class                  object
dtype: object

Convert any column that needs to be converted into numeric use `errors='raise'`. This will alert you if something ends up being problematic.

In [119]:
# .. your code here ..
X['how_tall_in_meters']=pd.to_numeric(X['how_tall_in_meters'],errors='raise')
X['body_mass_index']=pd.to_numeric(X['body_mass_index'],errors='raise')
X.dtypes

user                   object
gender                float64
age                     int64
how_tall_in_meters    float64
weight                  int64
body_mass_index       float64
x1                      int64
y1                      int64
z1                      int64
x2                      int64
y2                      int64
z2                      int64
x3                      int64
y3                      int64
z3                      int64
x4                      int64
y4                      int64
z4                      int64
class                  object
dtype: object

If you find any problematic records, drop them before calling the `to_numeric` methods above.

Okay, now encode your `y` value as a Pandas dummies version of your dataset's `class` column:

In [120]:
# .. your code here ..

X.dropna(axis=0,inplace=True)
y=X[['class']]
y=pd.get_dummies(y)
y.head()

,class_sitting,class_sittingdown,class_standing,class_standingup,class_walking
0,1.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0

In fact, get rid of the `user` and `class` columns:

In [121]:
# .. your code here ..

X.drop(['class','user'],axis=1,inplace=True)
X.head()

,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
0,1.0,46,1.62,75,28.6,-3,92,-63,-23,18,-19,5,104,-92,-150,-103,-147
1,1.0,46,1.62,75,28.6,-3,94,-64,-21,18,-18,-14,104,-90,-149,-104,-145
2,1.0,46,1.62,75,28.6,-1,97,-61,-12,20,-15,-13,104,-90,-151,-104,-144
3,1.0,46,1.62,75,28.6,-2,96,-57,-15,21,-16,-13,104,-89,-153,-103,-142
4,1.0,46,1.62,75,28.6,-1,96,-61,-13,20,-15,-13,104,-89,-153,-104,-143

Let's take a look at your handy-work:

In [122]:

X[pd.isnull(X).any(axis=1)]
X.describe()

,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
count,101374.0,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000,101374.000000
mean,1.0,37.158029,1.600351,65.175587,25.357944,-6.610117,88.134107,-82.238355,-104.784323,-70.032760,-195.158611,15.004814,103.640717,-93.758646,-173.110827,-91.390643,-160.254079
std,0.0,8.998657,0.019997,9.998508,3.299508,11.229889,27.238422,39.874796,181.776744,221.221532,204.951088,54.013000,60.622992,52.923751,23.337257,12.854723,9.467801
min,1.0,28.000000,1.580000,55.000000,22.000000,-68.000000,7.000000,-603.000000,-494.000000,-517.000000,-617.000000,-499.000000,-506.000000,-613.000000,-565.000000,-526.000000,-537.000000
25%,1.0,28.000000,1.580000,55.000000,22.000000,-12.000000,84.000000,-103.000000,-204.000000,-211.000000,-327.000000,10.000000,99.000000,-102.000000,-187.000000,-99.000000,-167.000000
50%,1.0,46.000000,1.620000,75.000000,28.600000,-5.000000,96.000000,-93.000000,-7.000000,28.000000,-120.000000,21.000000,107.000000,-89.000000,-167.000000,-93.000000,-161.000000
75%,1.0,46.000000,1.620000,75.000000,28.600000,-1.000000,102.000000,-49.000000,4.000000,83.000000,-36.000000,30.000000,109.000000,-78.000000,-157.000000,-86.000000,-155.000000
max,1.0,46.000000,1.620000,75.000000,28.600000,54.000000,205.000000,74.000000,145.000000,241.000000,122.000000,507.000000,517.000000,183.000000,-48.000000,86.000000,-71.000000

You can also easily display which rows have nans in them, if any:

In [123]:
X[pd.isnull(X).any(axis=1)]

Empty DataFrame
Columns: [gender, age, how_tall_in_meters, weight, body_mass_index, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4]
Index: []

Create an RForest classifier named `model` and set `n_estimators=30`, the `max_depth` to 10, `oob_score=True`, and `random_state=0`:

In [125]:
# .. your code here ..
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=30, oob_score=True,max_depth=10,random_state=0)
X.shape
y.shape
#model.fit(X, y)

(101374, 5)

Split your data into `test` / `train` sets. Your `test` size can be 30%, with `random_state` 7. Use variable names: `X_train`, `X_test`, `y_train`, and `y_test`:

In [126]:
# .. your code here ..
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.30, random_state=7)

### Now the Fun Stuff

In [127]:
print("Fitting...")
s = time.time()

# TODO: train your model on your training set
model=model.fit(X_train,y_train)

# .. your code here ..

print("Fitting completed in: ", time.time() - s)

Fitting...
('Fitting completed in: ', 5.9730000495910645)

Display the OOB Score of your data:

In [128]:
score = model.oob_score_
print("OOB Score: ", round(score*100, 3))

('OOB Score: ', 99.32)

In [129]:
print("Scoring...")
s = time.time()

# TODO: score your model on your test set

# .. your code here ..
model.score(X_test,y_test)

print("Score: ", round(score*100, 3))
print("Scoring completed in: ", time.time() - s)

Scoring...
('Score: ', 99.32)
('Scoring completed in: ', 0.5690000057220459)

At this point, go ahead and answer the lab questions, then return here to experiment more --

Try playing around with the gender column. For example, encode `gender` `Male:1`, and `Female:0`. Also try encoding it as a Pandas dummies variable and seeing what changes that has. You can also try dropping gender entirely from the dataframe. How does that change the score of the model? This will be a key insight on how your feature encoding alters your overall scoring, and why it's important to choose good ones.

In [ ]:
# .. your code changes above ..

After that, try messing with `y`. Right now its encoded with dummies, but try other encoding methods to what effects they have.